/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*stylee*/ 
body{
    background-color: bisque;
    font: 16px/20px tahoma ;
    background-image: url(../../picture/VENTI\ _\ HEIZOU\ _\ AETHER\ _\ KAZUHA\ _\ XIAO.jpg);
    
}
.container{
    width: 970px;
    margin: auto;
    background-color: #EDDBC7;
    border-radius: 20px 20px 20px 20px;
    
}
.header{
    padding: 40px;
    border-top: 5px solid rgb(182, 91,17);
    padding-bottom: 10px;
    border-radius: 20px 20px 0px 0px;
    padding-top: 30px;
    background-image: url(bacaa.jpg);
    background-position: 0px -170px;
    
}
.gambar1{
    width: 5px;
    height: 5px;
}
.judul{
    display: inline-block;
    margin-left: 40px;
}
#anjai{
  text-align: left;
}
ul  {
  margin-top: -15px;
  text-align: center;
  list-style: none;
  text-transform: capitalize;
  
}
.header ul li {
    display: inline-block;
    margin-top: 40px;
    margin-right: 20px;
}
.header a { 
    text-decoration: none;
    color: rgb(211, 141, 62);
    padding: 5px;
}
.header a:hover{
    background-color: rgb(255, 255, 255);
    color: chartreuse;
}
.heros {
    height:350px;
    background-image: url(ya.jpg);
    background-color: rgb(223, 9, 9);
    background-position: -70px 0;
    border-top: 8.5px solid rgb(182, 91, 17);
    border-bottom: 8.5px solid rgb(182, 91, 17);
}
.pembuat{
  font-size: small;
  
  margin-top: 40px;
  text-align: center;
  padding-bottom: 50px;
}
.pembuat a {
  text-decoration: none;
  color: grey;
  

}
.pembuat a:hover{
  color: rgb(71, 148, 184);
}

.conten{
 padding: 20px;
 
}

h2{
  font-size: 32px ;
  padding-bottom: 5px;
}
.gambar2{
  width: 300px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.isi{
  margin-top: 70px;
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 50px;
}
.isi2{
  font-family: 10px  sans-serif;
  font-size:larger;
  font-weight: bolder;
  line-height: 40px;

}
.footer{
  
  background-color: black;
  
  padding: 30px;
  border-radius: 0px 0px 20px 20px;
}
.footer .copy{
  color: white;
  text-align: center;
}
