body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray ;
    line-height: 1.90;
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 1200px;
}
.container{
    width: 800px;
    margin: 40px auto;
    background-color: beige;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    border: 5px solid black;
    
}
.utama{
    flex: 3;
    order: 2;
    margin: 15px;
    margin-top: -10px;
    box-sizing: border-box;
}
.sidebar1{
    flex: 1;
    order: 1;
}
.sidebar2{
    flex: 1;
    order: 3;
    
}.container2{
    width: 800px;
    margin: 40px auto;
    
}
.layanan{
    padding: 25px;
    box-sizing: border-box;
    border: 5px solid black;
    margin-bottom: 30px;
}
.layanan.satu{
    background-color: blueviolet;
}
.layanan.dua{
    background-color: gold;

}
.layanan.tiga{
    background-color: cyan;
}

/* responsif */
@media(max-width: 600px ){
    .container2{
    display: flex;
    justify-content:space-between;
    width: 800px;
    }
    .layanan{
        width: 30%;
        padding: 25px;
    }

    .tumnile{
        width: 25%;

    }
    .container3{
        flex-wrap: wrap;
    } 
    .container4{
        display: flex;
        flex-direction: column;
    }    
}
.container3{
    width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}
.tumnile{
    width: 50%;

}
.tumnile img{
    width: 100%;
}
.container4{
    width: 800px;
    margin: 50px auto;
    display: flex;
}
.card{
    border: 5px solid black;
    background-color: aliceblue;
    border-radius: 20px;
    overflow: hidden;
    margin: 9px;
    
}
.card .atas{
    height: 160px;
    background-color: rgba(165, 116, 42, 0.5);
}
.card .objek{
    text-align: center;
    padding-bottom: 30px;
    flex: 1;
}
.card.gede{
    transform: scale(1.12);
    margin: 10px;
}
button{
    background-color:rgba(165, 116, 42, 0.5) ;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}
button:hover{
    background-color: white;
    cursor: pointer;
}
.container5{
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin: 100px auto;
    display: flex;
}
.kotak{
    width: 120px;
    height: 120px;
    background-color: violet;
    text-align: center;
    font-weight: bold;
    margin: auto;
    display: flex;
}
.kotak span{
    margin: auto;
}
