body{
    margin: 0;
    padding: 0;
    background-image: url(../../../picture/pexels-photo-129731.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.kotak{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 50px 100px 100px 50px;
}
.kotak1{
    transition: all 2s ease;
    text-align: center;
 
    line-height: 200px;
}
.kotak2{
    transition: all 2s ease-in;
    text-align: center;
    line-height: 200px;
}
.kotak3{
    transition: all 2s ease-out;
    text-align: center;
    line-height: 200px;
}
.kotak4{
    transition: all 2s ease-in-out;
    text-align: center;
    line-height: 200px;
}
.kotak5{
    transition: all 2s linear;
    text-align: center;
    line-height: 200px;

}
.kotak6{

    transition: cubic-bezier(0.7, 0.28, 1, 0.49) 1s;
}
.container:hover .kotak{
    margin-left: 700px;
    transform: rotate(540deg);
    background-color: aqua;
}
.container{
    border: 10px solid blue;
    width: 900px;
    margin: 20px auto;
    border-radius: 60px;
}
