.container{
    width: 500px;
    border: 1px solid black;
    margin: auto;
    padding: 3px;
    

}
.kotak{
    width: 80px;
    height: 80px;
    background-color: cyan;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    float: right;
    margin: 3px;
}
.clear{
    clear: right;
}