div{
    width: 600px;
    margin: 30px auto;
    box-sizing: border-box;
}
.satu{
    
    background-color: blueviolet;
    padding: 30px;
    border: 15px solid black;
}
.dua{
    
    background-color: cyan;
    padding: 10px;
    border: 15px dashed black;
}
