div{
    width: 250px;
    height: 250px;
    background-color:cyan;
    margin: 40px auto;
    text-transform: capitalize;
    padding: 50px;
    border-left: 7px double black ; /*ukluran style warna*/
    border-right:  7px double black ;
    border-top: 7px dashed black;
    border-bottom: 7px dashed black;
    margin-bottom: 60px;
    
    

}
p{
    font-weight: bold;
    font-family: tahoma;
}