h2, h5, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(84, 180, 148);
    font-size: 50px;
    font-variant: small-caps;
    line-height: 50px;
    text-align: center;
    border: 5px solid tomato;
    text-transform: uppercase;
    
    
}

b{ 
   text-transform:capitalize;
   letter-spacing: 2px;
   
}
a{

    text-decoration: none;
}

