/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
 
  body{
    background-color: cyan;
    font: 16px/28px arial, tahoma;
    background-image: url(VENTI\ _\ HEIZOU\ _\ AETHER\ _\ KAZUHA\ _\ XIAO.jpg);
    
  }
  .header{
    padding: 30px 30px 0px 30px;
    border: 10px solid rgb(27, 23, 23);
    border-radius: 30px 30px 0px 0px;
    
    
  }
  .container{
    width: 960px;
    margin: auto;
    background-color: rgb(243, 144, 160);
    border-radius:30px 30px 30px 30px;
  }
  .judul{
    padding-left: 30px;
    padding-top: 10px;
  }
  .contak{
    list-style: none;
    text-align: center;
    padding-top: 20px;
  }
  .container .header ul li{
    display: inline-block;
    padding: 10px; 
  }
  .header .contak a{
    text-decoration: none;
    color: gray;
  }
  .header .contak a:hover{
    color: white;
  }
  .hero{
    height: 450px;
    background-image: url(bacaa.jpg);
    background-size: cover;
    background-position: 0px 0px;
    
    
  }
  .main .contak2{
    list-style: none;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 10px solid black;
  }
  .main .contak2 a{
    text-decoration: none;
  }
  .main .judulku{
    padding-bottom: 50px;
    text-align: center;
    width: 600px;
    margin: 20px;
    font-size: 20px;
    padding-top: 35px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin: 0px;
    font-weight: bold;
  }
  .main .isinya{
    margin: 40px;
    padding-bottom: 60px;
    padding:40px  ;
    margin: 0px;
    border-left: 10px dashed black;
    border-right: 10px solid black;
    width: 600px;
    box-sizing: border-box;  
  }
  .isinya{
    float: left;
  }
  .footer{
    background-color: black;
    padding: 20px;
    border-radius: 30px 30px 30px 30px;
  }
  .copy{
    text-align: center;
    color: white;
  }
  .gambar{
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
  /**
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    contenteditable attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that are clearfixed.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }
  
  /**
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */
  .cf {
      *zoom: 1;
  }
  
  
  
  
  
  
  
  
  
  
 
