.ul1 .yu{
    text-align: center;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;

}
.ul2 .yo{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    
}