div{
    color: white;
}
.container{
    width: 600px;
    border: 2px solid black;
    margin: auto;
    padding: 3px;

}
img{
    float: left;
    margin: 20px;
    
}
    
p{
    color: black;
}
.clear{
    clear: left;
}