div{
    width: 200px;
    height: 200px;
}
.satu{
    background-color: blue;
}
.dua{
    background-color: blueviolet;
    float: left;
    margin-left: 20px;
}
.tiga{
    background-color: brown;
}